literature/articles/embeddings/Embeddings_in_NLP_Pilhevar_book_draft.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/embeddings/Word-embeddings_and_Word_vector_Herrera_UPC_slides.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/embeddings/Is_Cosine-Similarity_of_Embeddings_Really_About_Similarity_Steck_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/embeddings/Word_Embeddings_Spirling_Rogriguez_2019.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/embeddings/Vector_Semantics_and_Embeddings_Jurafsky_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Speech_and_Language_Processing_Daniel_Jurafsky_3rd_ed_Stanford_U_2023_book.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/a-practical-guide-to-hybrid-natural-language-processing-combining-neural-models-and-knowledge-graphs-for-nlp-1st-ed.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/practical-natural-language-processing-a-comprehensive-guide-to-building-real-world-nlp-systems.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/foundation-models-for-natural-language-processing-pre-trained-language-models-integrating-media.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/semantic-ai-in-knowledge-graphs.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/knowledge-graphs-and-big-data-processing-1st-ed.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/RepresentationLearningForNaturalLanguageProcessing_Liu_2020.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/knowledge-graphs-1st-edition.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Deep_Learning_for_Natural_Language_Processing_Brownlee_2017.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/semantic-systems-in-the-era-of-knowledge-graphs-16th-international-conference-on-semantic-systems-semantics-2020-amsterdam-the-netherlands-september-710-2020-proceedings-1st-ed.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/embedding-knowledge-graphs-with-rdf2vec.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/nlp-kavi-murthy-hyderabad-2006-book.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Introduction_to_Transformers-a_NLP_Perspective_Xiao_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/natural-language-processing-with-transformers-revised-edition-book.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/New_Horizons_in_the_Study_of_Language_and_Mind_Chomsky_2000.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Neural_Network_Methods_in_Natural_LanguageProcessing-2017-Yoav_Goldberg.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Neural_Network_Methods_for_Natural_Language_Processing_by_Yoav_Goldberg_print2.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Google_Multilingual_Neural_Machine_Translation_System-Enabling_Zero-Shot_Translation_Johnson_2017.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Neural_Machine_Translation-A_Review_and_Survey_Stahlberg_2020.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/knowledge_graphs/Graph_neural_networks-A_review_of_methods_and_applications_Zhou_2020.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/knowledge_graphs/A_Comprehensive_Survey_of_Graph_Neural_Networks_for_Knowledge_Graphs_Ye_2022.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/knowledge_graphs/KnowledgeGraphs_Opportunities_and_Challenges_Peng_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Minsky-and-Papert-Perceptrons-1969.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Foundations_of_Machine_Learning_Mohri_2012.pdf filter=lfs diff=lfs merge=lfs -text
